/* app.css or a dedicated layout.css */
:root {
  --minHeight: 60px;
  --sidebarWidth: 200px;
}

.nav-icon{
  height: 24px;
}

.app-layout {
  display: flex;
  flex-direction: column; /* Stacks Header on top of content-wrapper */
  height: 100vh; /* Ensures layout takes full viewport height */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px; /* Example height */
  background-color: #333;
  color: white;
  z-index: 1000; /* Ensure it's above other elements */
}

.content-wrapper {
  display: flex;
  flex: 1; /* Allows content-wrapper to take remaining space */
  /* flex-direction: row; */
}

.sidebar {
  top: var(--minHeight); /* Adjust based on Navbar height */
  width: 200px; /* Example width */
  height: calc(100vh - 60px); /* Fill remaining vertical space */
  overflow-y: auto; /* Enable scrolling if content overflows */
  /* transition: width 0.3s ease-in-out; */
}

.main-content {
  flex-grow: 1; /* Allows main content to fill available space */
  padding-top: 60px 20px 20px 20px; /*var(
    --header-height
  ); /* If header is fixed, add padding to avoid overlap */
  position: relative;
  top: 60px;
  /* left: 60px; */
  background-color: white;
  height: calc(100vh - var(--minHeight)); /* Fill remaining vertical space */
  width: calc(
    100vw - var(--sidebarWidth)
  ); /* Fill remaining horizontal space */
  overflow-y: auto;
}

.footerPage {
  position: fixed;
  left: O;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 40px;
  text-transform: capitalize;
}

/* Custom styles */

.homePage {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  overflow-y: auto;
  /* background-color: aquamarine; */

  img {
    height: 124px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      height: 90px;
    }
  }

  .cardtitle {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #17376e;

    p {
      text-transform: none;
      font-style: italic;
      color: #cd2009;
      margin-top: 2px;
    }
  }

  .card {
    width: 50%;
    padding: 3%;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .card-body p {
    font-size: 16px;
  }

  .modal {
    position: absolute;
    left: 5%;
    @media (max-width: 768px) {
      width: 70%;
    }
  }
}
