/*  */

/* Here you can add other styles */
/* === AppGuestHeader */
.guest-header {
  .app-header-brand-name {
    color: lightgray;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
  }
  .app-header-brand-slogan {
    color: lightgrey;
    font-style: italic;
  }
}
/*  */

/* 08012026 */
.homeTitle {
  background-color: '#fff';
  border-color: #fff;
  font-weight: bolder;
  font-size: 1.7em;
  color: #056709;
  border-bottom: 5px solid #056709;
}

.home-description {
  text-align: justify; 
  font-size: 1.2em;
}

.home-login-form .card {
  /* background-color: #f3f4f7; */
  border: 1px solid #056709;
}

.card-header-custom-title {
  font-weight: bolder;
  color: #00407d;
}

.custom-btn-primary {
  background-color: #00407d;
  border: #00407d;
  color: #fff;
}
.custom-btn-primary:hover {
  background-color: #00407d;
  border: #00407d;
  color: #fff;
}

.custom-btn-success {
  background-color: #056709;
  border: #056709;
  color: #fff;
}
.custom-btn-success:hover {
  background-color: #069f0b;
  border: #056709;
  color: #fff;
}

.custom-btn-danger {
  background-color: #970000;
  border: #970000;
  color: #fff;
}
.custom-btn-danger:hover {
  background-color: #970000;
  border: #970000;
  color: #fff;
}

.custom-btn-secondary {
  background-color: #666363;
  border: #666363;
  color: #fff;
}
.custom-btn-secondary:hover {
  background-color: #817e7e;
  border: #666363;
  color: #fff;
}

.sorryBecauseNone {
  color: #970000;
  font-weight: bolder;
  font-size: 1.2em;
}

table .show-table-title {
  color: #000;
}

table .show-table-value {
  color: #00407d;
  text-align: end;
  font-weight: bold;
}

.form-label {
  font-weight: bolder;
}

/* === Guest === */
.demandeGuestSoumettre .sessionInfo {
  background-color: #fcd116;
  border: 5px solid #056709;
  color: #056709;
  font-size: auto;
}

/* ============= */

/*.sidebar, .sidebarHeader, .sidebarNav {
  background-color: #056709;
}*/
.sidebarNav .nav-link {
  background-color: #056709;
  /* background-color: #00407d; */
  /* border: 1px solid #fcd116; */
}
.sidebarNav .nav-link:hover {
  background-color: #069f0b;
  /* background-color: #fcd116; */
  /* border: 1px solid #00407d; */
  /* color: #00407d; */
}
.sidebarNav .nav-link:active {
  /* background-color: #970000; */
}

/* === Dashboard === */

.dashboardHeader {
  background-color: #fcd116;
  border: 5px solid #056709;
  font-size: 1.1em;
  font-weight: bolder;
}
.dashboardHeader span {
  color: #00407d;
}

.statisticCard {
  background-color: #f3f4f7;
  border: 1px solid #056709;
}
.statisticCardTitle {
  font-size: 1.2em;
  font-weight: bolder;
  color: #00407d;
}
.statisticCardTitle span {
  font-weight: normal;
  color: #fff;
  background-color: #970000;
  padding: 1px 10px;
  border-radius: 5px;
}
.statisticCardValue {
  font-size: 1em;
}
.statisticCardValue span {
  /* font-weight: bolder; */
  background-color: #056709;
  color: #fff;
  padding: 1px 10px;
  border-radius: 5px;
}
.statisticCardValue p {
  font-weight: bolder;
}

/* ============= */

/* === Datatables === */

.btnCreate,
.btnCreate:hover {
  background-color: #00407d;
  border-color: #00407d;
  color: #fff;
}

.btnDeleteAll,
.btnDeleteAll:hover {
  background-color: #970000;
  border-color: #970000;
  color: #fff;
}

/* fcd116 */
.btnImport,
.btnAttribute,
.btnImport:hover,
.btnAttribute:hover {
  background-color: #a08408;
  border-color: #a08408;
  color: #fff;
}

/* ============= */

/* === */

/* Media */

@media (max-width: 768px) {
  .demandeGuestSoumettre .sessionInfo {
    font-size: 0.9em;
  }
}
