// Here you can add other styles
.defaultLayout-main-container,
.home-main-container {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-image-appHeader {
  height: 80px;
  display: block;
}

.home-main-container {
  .home-image {
    height: 128px;
    display: block;
  }

  .home-title {
    font-weight: bolder;
    span {
      color: #17376e;
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      color: #cd2009;
      font-style: italic;
    }
  }
  .card-body {
    p {
      padding: 0;
      font-size: 18px;
      text-align: justify;
    }
  }
}

.AppHeader {
  color: lightgray;
  margin: 0;
  padding: 0;
  .header-title {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    .application-name {
      color: light;
      font-size: 30px;
      text-transform: uppercase;
    }
    .application-slogan {
      font-size: 20px;
      color: #cd2009;
      font-style: italic;
      padding-top: 10px;
    }
  }
}

@media (max-width: 768px) {
  .home-main-container {
    .home-image {
      height: 64px;
      display: none;
    }

    .home-title {
      span {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }

    .card-body {
      padding: 0;
      p {
        font-size: 14px;
      }
    }

    .AppHeader {
      .header-title {
        display: flex;
        flex-direction: column;
        .application-name {
          font-size: 24px;
        }
        .application-slogan {
          font-size: 12px;
        }
      }
    }
  }
  /*.homePage {
    padding: 0;
    margin-top: 0;

    img {
      height: 64px;
    }

    .cardtitle {
      font-size: 18px;
      margin-top: 0;
      padding-top: 0;
      p {
        font-size: 12px;
      }
    }

    .card {
      width: 100%;
      padding: 0;
      .card-body {
        p {
          margin-bottom: 5px;
          font-size: small;
        }
      }
    }
  }*/
}
