// Here you can add other styles
.defaultLayout-main-container,
.home-main-container {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homePage {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  //   padding-top: 50px;
  overflow-y: auto;
  //   background-color: aquamarine;

  img {
    height: 124px;
    margin-bottom: 30px;
  }

  .cardtitle {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #17376e;
    p {
      text-transform: none;
      font-size: 16px;
      font-style: italic;
      color: #cd2009;
      margin-top: 2px;
    }
  }

  .card {
    width: 70%;
    padding: 2%;
    margin-bottom: 15px;
  }

  .card-body p {
    font-size: 16px;
  }

  .modal {
    position: absolute;
    left: 5%;
    @media (max-width: 768px) {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .homePage {
    padding: 0;
    margin-top: 0;

    img {
      height: 64px;
    }

    .cardtitle {
      font-size: 18px;
      margin-top: 0;
      padding-top: 0;
      p {
        font-size: 12px;
      }
    }

    .card {
      width: 100%;
      padding: 0;
      .card-body {
        p {
          margin-bottom: 5px;
          font-size: small;
        }
      }
    }
  }
}

.AppHeader {
  color: lightgray;
  margin: 0;
  padding: 0;
  .cardtitle {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;

    span {
      text-transform: none;
      font-size: 16px;
      font-style: italic;
      color: #cd2009;
      margin: 0 0 0 15px;
      padding: 0;
    }

    @media (max-width: 768px) {
      span {
        display: none;
      }
    }
  }
}
