// Here you can add other styles
.defaultLayout-main-container,
.home-main-container {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

<<<<<<< HEAD
//=== AppGuestHeader
.guest-header {
  background-color: #17376e;
  .app-header-brand-image {
    height: 80px;
    display: block;
  }
  .app-header-brand-name {
    color: lightgray;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
  }
  .app-header-brand-slogan {
    color: lightgrey;
    font-style: italic;
  }
}
//===

.defaultLayout-main-container,
.home-main-container {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-main-container {
  .home-image {
    height: 128px;
    display: block;
  }
=======
.home-image-appHeader {
  height: 80px;
  display: block;
}

.home-main-container {
  .home-image {
    height: 128px;
    display: block;
  }
>>>>>>> ac3612064d474c848834f5ba3844b849ca83f5a7

  .home-title {
    font-weight: bolder;
    span {
      color: #17376e;
<<<<<<< HEAD
      font-size: 26px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
=======
      font-size: 30px;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
>>>>>>> ac3612064d474c848834f5ba3844b849ca83f5a7
      color: #cd2009;
      font-style: italic;
    }
  }
<<<<<<< HEAD

  .app-home-description,
  .app-home-connexion {
    text-align: justify;
    font-size: 16px;
  }

  .app-home-connexion {
    .card-title {
      color: #17376e;
      font-size: 16px;
=======
  .card-body {
    p {
      padding: 0;
      font-size: 18px;
>>>>>>> ac3612064d474c848834f5ba3844b849ca83f5a7
      text-align: justify;
    }
  }
}

//=== Buttons
.app-btn-primary {
  background-color: #17376e;
  border-color: #17376e;
  color: lightgray;
  
}
.app-btn-primary:hover {
    background-color: #1a3e7c;
    border-color: #1a3e7c;
    color: lightgray;
  }
//===

// Media

@media (max-width: 768px) {
  .home-main-container {
    .home-image {
      height: 64px;
      display: none;
    }

    .home-title {
      span {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }

    .app-home-description,
    .app-home-connexion {
      text-align: justify;
      font-size: 12px;
    }
  }
}

/*

.AppHeader {
      .header-title {
        display: flex;
        flex-direction: column;
        .application-name {
          font-size: 24px;
        }
        .application-slogan {
          font-size: 12px;
        }
      }
    }

.AppHeader {
  color: lightgray;
  margin: 0;
  padding: 0;
  .header-title {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: center; 
>>>>>>> ac3612064d474c848834f5ba3844b849ca83f5a7
    align-items: center;
    .application-name {
      color: light;
      font-size: 30px;
      text-transform: uppercase;
    }
    .application-slogan {
      font-size: 20px;
      color: #cd2009;
      font-style: italic;
      padding-top: 10px;
    }
  }
}
<<<<<<< HEAD
*/
=======

@media (max-width: 768px) {
  .home-main-container {
    .home-image {
      height: 64px;
      display: none;
    }

    .home-title {
      span {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }

    .card-body {
      padding: 0;
      p {
        font-size: 14px;
      }
    }

    .AppHeader {
      .header-title {
        display: flex;
        flex-direction: column;
        .application-name {
          font-size: 24px;
        }
        .application-slogan {
          font-size: 12px;
        }
      }
    }
  }
  /*.homePage {
    padding: 0;
    margin-top: 0;

    img {
      height: 64px;
    }

    .cardtitle {
      font-size: 18px;
      margin-top: 0;
      padding-top: 0;
      p {
        font-size: 12px;
      }
    }

    .card {
      width: 100%;
      padding: 0;
      .card-body {
        p {
          margin-bottom: 5px;
          font-size: small;
        }
      }
    }
  }*/
}
>>>>>>> ac3612064d474c848834f5ba3844b849ca83f5a7
