// Here you can add other styles

//=== AppGuestHeader
.guest-header {
  background-color: #17376e;
  .app-header-brand-image {
    height: 80px;
    display: block;
  }
  .app-header-brand-name {
    color: lightgray;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
  }
  .app-header-brand-slogan {
    color: lightgrey;
    font-style: italic;
  }
}
//===

.defaultLayout-main-container,
.home-main-container {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-main-container {
  .home-image {
    height: 128px;
    display: block;
  }

  .home-title {
    font-weight: bolder;
    span {
      color: #17376e;
      font-size: 26px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      color: #cd2009;
      font-style: italic;
    }
  }

  .app-home-description,
  .app-home-connexion {
    text-align: justify;
    font-size: 16px;
  }

  .app-home-connexion {
    .card-title {
      color: #17376e;
      font-size: 16px;
      text-align: justify;
    }
  }
}

//=== Buttons
.app-btn-primary {
  background-color: #17376e;
  border-color: #17376e;
  color: lightgray;
  
}
.app-btn-primary:hover {
    background-color: #1a3e7c;
    border-color: #1a3e7c;
    color: lightgray;
  }
//===

// Media

@media (max-width: 768px) {
  .home-main-container {
    .home-image {
      height: 64px;
      display: none;
    }

    .home-title {
      span {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }

    .app-home-description,
    .app-home-connexion {
      text-align: justify;
      font-size: 12px;
    }
  }
}

/*

.AppHeader {
      .header-title {
        display: flex;
        flex-direction: column;
        .application-name {
          font-size: 24px;
        }
        .application-slogan {
          font-size: 12px;
        }
      }
    }

.AppHeader {
  color: lightgray;
  margin: 0;
  padding: 0;
  .header-title {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .application-name {
      color: light;
      font-size: 30px;
      text-transform: uppercase;
    }
    .application-slogan {
      font-size: 20px;
      color: #cd2009;
      font-style: italic;
      padding-top: 10px;
    }
  }
}
*/
